In [1]:
import pandas

In [7]:
df = pandas.DataFrame([[1,2,3],[3,4,5],[5,6,7]], columns =['a','b','c'], index = ['first', 'second', 'third'])

In [8]:
print(df)

        a  b  c
first   1  2  3
second  3  4  5
third   5  6  7

In [9]:
df1 = pandas.DataFrame([{'Name':'Jack', 'Age':38},{'Name':'Ryan', 'Age':35}])

In [10]:
print(df1)

   Age  Name
0   38  Jack
1   35  Ryan

In [11]:
df.mean()

a    3.0
b    4.0
c    5.0
dtype: float64

In [12]:
type(df.mean())

<class 'pandas.core.series.Series'>

In [15]:
df.c

first     3
second    5
third     7
Name: c, dtype: int64

In [16]:
df.c.mean()

5.0